// https://styleguide.berlin.de/patterns/09-vertical_marketing-page-global-landmarks/09-vertical_marketing-page-global-landmarks.html
$breakpoint-smallest: 16em !default;
$breakpoint-palm: 37.5em !default; // 600px
$breakpoint-tablet: 57.5em !default; // 920px
$breakpoint-tablet-landscape: 73.813em !default; // 1181px
$breakpoint-desktop: 92.5em !default; // 1480px