.a4-comments__commentbox__title-comments {
  display: none;
}

.a4-comments__commentbox__subtitle {
  margin-top: 2 * $spacer;
  margin-bottom: 0.5 * $spacer;
}

.a4-comments__anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
  height: 1px;
}

.a4-comments__submit-input {
  @extend .button;
  @extend .button--fullwidth-palm;
}

.a4-comments__cancel-edit-input {
  @extend .button;
  @extend .button--light;

  @media screen and (max-width: $breakpoint-palm) {
    margin-bottom: 0 !important;
  }
}

.a4-comments__comment-form__heading-comments-allowed {
  @extend h2;
  margin-bottom: 0.75 * $spacer;
}

.a4-comments__comment-form__actions {
  @extend .form-actions;
  margin-top: 0.25 * $spacer;
}

.a4-comments__comment-form__actions__left {
  @extend .form-actions__left;

  @media screen and (max-width: $breakpoint-palm) {
    margin-bottom: 0 !important;
  }
}

.a4-comments__comment-form__actions__right {
  @extend .form-actions__right;

  @media screen and (max-width: $breakpoint-palm) {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

.a4-comments__comment-form__form {
  @extend .panel--heavy;
  margin-bottom: $spacer;

  .form-group {
    margin-bottom: 0;
  }

  .a4-comments__char-count {
    @extend .formgroup__help;
    color: var(--color-black);
    margin-top: 0.25 * $spacer;

    .a4-comments__char-count-word {
      display: none;
    }
  }
}

.a4-comments__comment-control-bar {
  @extend .panel--heavy;

  .form-group--inline {
    @extend .fullspace;
  }

  @media screen and (max-width: $breakpoint-palm) {
    .form-group {
      margin-bottom: 0 !important;
    }
  }

  .a4-control-bar__sorting .form-group {
    margin-bottom: 0.8 * $spacer;
  }
}
