.alert { 
    margin: $padding 0;
    background-color: $message-light-blue;
}

.a4-alert__container {
    display: flex;
    justify-content: space-between;
}

.a4-alert__content {
    padding: $padding * 1.375 $padding * 1.125;
}

.alert__headline {
    margin: 0;
    padding: 0;
    color: inherit;
}

.alert__text {
    margin: 0;
    padding: 0;
}

.alert__close {
    padding: $padding * 0.625;
    height: fit-content;
    color: inherit;
}

.alert--success {
    background-color: $message-light-green;
    color: $text-base;
}

.alert--error,
.alert--danger {
    background-color: $message-light-red;
    color: $text-error;
}

.alert--warning {
    background-color: $message-light-yellow;
    color: $text-base;
}

.alert--small {
    padding: 0.5em;
}

.alert:first-child { 
    margin: 0;
    margin-bottom: $padding;
}

.alert:last-child { 
    margin: 0;
    margin-top: $padding;
}