.alert { 
    position: relative;
    margin: $padding 0;
    background-color: $message-light-blue;
}

.alert a {
    color: inherit;
    text-decoration: underline;
}

.alert__content {
    padding: 1.125rem 2rem 1.125rem 1.125rem;
    margin: 0 auto;
    max-width: 81rem;
}

.alert__headline {
    margin: 0 0 .4em;
    line-height: 1.353em;
    padding: 0;
    color: inherit;
}

.alert__text {
    margin: 0;
    padding: 0;
}

.alert__close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.25rem;
    border: 0;
    color: inherit;
    cursor: pointer;
}

.alert--success {
    background-color: $message-light-green;
    color: $text-base;
}

.alert--error,
.alert--danger {
    background-color: $message-light-red;
    color: $text-error;
}

.alert--warning {
    background-color: $message-light-yellow;
    color: $text-base;
}

.alert--small {
    padding: 0.5em;
}
