.card__stats {
    display: flex;
    margin-right: 2 * $spacer;
}

.card__stat {
    display: flex;
    margin-left: 0.75 * $spacer;
    margin-bottom: 0;

    &:first-child {
        margin-left: 0;
    }

    b {
        margin-right: 0.25 * $spacer;
    }
}

.card__footer--light {
    display: inline-flex;
}

// Needed for due to Bo js not working
.card__header .title:hover {
    cursor: pointer;
    text-decoration: underline;
}

.card__link--hover {
    text-decoration: underline !important; // BO overide
}

.card__pill {
    margin-bottom: 0.3em;
}