.control-bar {
    .facet-title {
        font-size: 1.0625rem;
    }
}

.control-bar__bottom-overlap {
    position: relative;
    z-index: 1;
    top: -1em;
}

.control-bar__results {
    font-weight: 700;
}

.control-bar__list-map-switch {
    display: flex;
    align-items: center;

    .button {
        margin-left: 0;
    }

    @media screen and (max-width: var(--breakpoint-tablet)) {
        width: 100%;

        .button {
            flex: 1 1 100%;
        }
    }
}
