.control-bar {
    .facet-title {
        font-size: 1.0625rem;
    }
}

.control-bar__bottom-overlap {
    position: relative;
    z-index: 1;
    top: -1em;
}

.control-bar__filter-btn:focus,
.control-bar__action-btn:focus {
    outline-offset: -3px;
}

.control-bar__bottom {
    align-items: center;
}
