.control-bar {
    .facet-title {
        font-size: 1.0625rem;
    }
}

.control-bar--no-spacing {
    margin-bottom: 0;
}

.control-bar--spacing {
    margin-bottom: 1.5em;
}

.control-bar__bottom-overlap {
    position: relative;
    z-index: 1;
    top: -1em;
}

.control-bar__filter-btn:focus,
.control-bar__action-btn:focus {
    outline-offset: -3px;
}

.control-bar__bottom {
    align-items: center;
}

.control-bar__bottom--projects {
    display: flex;
    flex-direction: column-reverse;
    padding: 1em 0.875em;

    @media screen and (min-width: $breakpoint-palm) {
        display: block;
        flex-direction: row;
    }
}

.control-bar__bottom--projects div:last-child {
    text-align: right;
    margin-bottom: 1rem;

    @media screen and (min-width: $breakpoint-palm) {
        margin-bottom: 0;
    }
}
