.details summary {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.details summary > h2 {
    font-size: 1.375em;
    line-height: 1.5em;
    margin: 0;
}

.details summary > h3 {
    line-height: 1.5em;
    margin: 0;
}

.details summary::marker {
    display: none;
    content: "";
}

// Hides the default arrow on safari
.details summary::-webkit-details-marker {
    display: none;
}

.details summary > .accordion-icon {
    transition: transform .2s;
    display: flex;
    flex-shrink: 0;
    transform: rotate(90deg);
    font-size: 1.3em;
    color: $primary;
}

.details[open] summary > .accordion-icon {
    transform: rotate(-90deg);
}

.details > :not(summary) {
    padding-bottom: 10px;
}
