.dropdown {
    @extend .content-language-select;
    position: relative;
}

.dropdown__toggle {
    i {
        font-size: 1.25em;
    }
}

.dropdown__item {
    margin-bottom: 0;

    a {
        margin-bottom: 0;
    }

    .button {
        width: 100%;
    }

    button {
        padding-right: 0!important;
    }
}

.dropdown__wrapper {
    button:first-child {
        color: var(--color-white);
    }

    > .dropdown .button {
        width: 100%;
    }

    // copied styles
    @media print, (width <= 73.8125rem) {
        margin-left: -12px;
        margin-right: -12px;
        width: auto;
        padding-left: 12px;
        padding-right: 12px
    }
}

.dropdown__menu {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    top: 90%;
    right: 0;
    padding: $spacer;
    white-space: nowrap;
    border: 1px solid $border-color;
    background-color: var(--color-white);
    box-shadow: 0 0 5px rgba(100,100,100,.5);

    h2 {
        font-size: 1.1em;
        margin-bottom: 0.5em!important;
    }

    ul {
        margin-bottom: 0;
    }

    @media print {
        display: none;
    }
}

.dropdown--open .dropdown__menu {
    display: flex;
}
