.figures-box {
    list-style: none;
    padding: 2em;
    border: 1px solid $gray-lighter;
    align-items: flex-start;
    gap: 1.25em 0;
    flex-wrap: wrap;
    margin-bottom: 0;

    @media screen and (min-width: $breakpoint-palm){
        display: flex;
    }

    h3 {
        font-weight: 400;
        margin-bottom: 0.3rem;
        margin-top: 0;
        font-size: $font-size-sm;
    }

    &--running .fa-circle {
        color: $primary;
    }

    &--ended .fa-circle {
        color: $feedback-color-rejected;
    }

    &--upcoming .fa-circle {
        color: $secondary;
    }
}

.figures-box__item {
    margin-bottom: 1.1em;

    @media screen and (min-width: $breakpoint-tablet-landscape){
        flex: 1 1 auto;
    }

    @media screen and (min-width: $breakpoint-palm) {
        margin-bottom: 0;
        flex: 1 1 50%;
    }

    &:last-child {
        margin-bottom: 0;
    }
}
