.herounit-image-with-aside {
  margin-top: -40px!important;
}

.herounit-image-with-aside__title {
  margin-bottom: 0.4em;
  max-width: 300px;

  @media (min-width: $breakpoint-md) {
      margin-top: 0.6em !important;
  }
}

.herounit-image-with-aside__description {
  max-width: 300px;
  margin-bottom: 2em;

  p {
      margin-bottom: 0.7em;
  }

  @media (min-width: $breakpoint-md) {
      margin-bottom: 0;
  }
}

.herounit-image-with-aside__copyright {
  font-size: 0.8em;
  color: $text-light;
}
