.item-detail__title {
    padding: $spacer 0;
    margin: 0;
}

.item-detail__image {
    margin-top: -40px;
    
    img {
        aspect-ratio: 2/1;
        object-fit: cover;
    }
}

.item-detail__user {
    padding-bottom: $spacer;
    color: $text-light;

    strong {
        color: $text-base;
    }
}

.item-detail .pill__list {
    margin-bottom: 0.8em;
}

.item-detail__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-detail__reference {
    margin-bottom: $spacer;
    color: $text-light;

    strong {
        color: $text-base;
    }
}
