.pill {
    margin-right: 0.5 * $spacer;
    color: $white;
    font-weight: bold;

    &--category {
        background-color: $purple;
        color: $text-base;
    }

    &--label {
        background-color: $pink;
        color: $text-base;
    }

    &--topic {
        background-color: $primary-400;
        color: $text-base;
    }

    &--live {
        background-color: $feedback-color-rejected;
    }

    &--shortlist {
      background-color: $white;
      color: $text-base;
    }
}

.pill__list {
    list-style: none;
    margin: 0;
    padding: 0;

    &--inline {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5 * $spacer;

        .pill {
            margin-right: 0;
            margin-bottom: 0;
        }
    }
}
