.projects-map {
    height: 100%;
    margin: 0 -12px;

    @media screen and (min-width: $breakpoint-tablet) {
        margin: 0;
    }

    .leaflet-bottom.leaflet-left {
        position: static;
    }
}

.project-overlay-control {
    background: $white;
    position: absolute;
    bottom: 1.5em;
    left: 1.5em;
    right: 1.5em;
    z-index: 1000;
    padding: 0.5em;

    @media screen and (min-width: $breakpoint-tablet) {
        display: none;
    }

    a {
        color: $text-base;
    }
}

.projects-map__popup {
    display: none;

    @media screen and (min-width: $breakpoint-tablet) {
        display: block;

    }

    .leaflet-popup-content-wrapper {
        border-radius: 0;
    }

    .leaflet-popup-content {
        margin: 1.25em;
    }

    .leaflet-popup-content a {
        color: $text-base;
    }

    .leaflet-popup-tip-container {
        display: none;
    }
}

