// firefox will not take the black color without the a selector
a.project-tile {
    display: flex;
    flex-direction: column;
    color: $text-base;
    font-family: $font-family-base;

    &:hover,
    &:focus {
        text-decoration: none;
    }

    &--horizontal:not(.project-tile--map) {
        border-bottom: 1px solid $gray-lighter;
        padding: 14px 0 8px;
    }

    .image__copyright {
        font-weight: 400;
        line-height: 18px;
    }
}

.project-tile__content-wrapper {
    display: flex;
    flex: 1;
    
    .project-tile--vertical & {
        flex-direction: column;
        height: 100%;
    }
}

.project-tile__image-wrapper {
    flex: 2;
    min-width: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    aspect-ratio: 4 / 3;

    .project-tile--map & {
        flex: 0 0 145px;

        @media screen and (min-width: $breakpoint-tablet) {
            flex: 0 0 120px;
        }
    }
}

.project-tile__icon {
    background-color: $primary;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    height: 2.3rem;
    width: 2.3rem;

    .fa {
        font-size: 1.3rem;
        margin-right: 0;
    }
}

.project-tile__image, .project-tile__placeholder {
    object-fit: cover;
    object-position: center;
    max-width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
    width: 100%;
}

.project-tile__body {
    flex: 3;
    position: relative;
    display: flex;
    flex-direction: column;
    
    .project-tile--horizontal & {
        margin-left: 1.25em;
        padding-bottom: 16px;
    }
}

.project-tile__head {
    margin-bottom: .4em;
}

.project-tile__topics {
    margin-bottom: .4em;
}

.project-tile__title {
    margin-top: 0;
    overflow: hidden;
    display: -webkit-box; // stylelint-disable-line
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    .project-tile:hover &,
    .project-tile:focus & {
        text-decoration: underline;
    }
}

.project-tile__status {
    margin-top: 4px;
    font-size: $font-size-sm;
    color: $text-base;
    font-weight: 400;

    p:last-child {
        margin-bottom: 0;
    }
}

.project-tile__plan__count {
    margin-right: .25em;
}

.project-tile__external-indicator {
  position: absolute;
  top: 0;
  right: 0;
  background: $primary-400;
  color: $white;
  padding: 1em;
  z-index: 10;
  font-size: 1em;
  line-height: 1;
}

.project-tile__external-indicator i {
  margin: 0;
}