.projects-list__wrapper--combined {
  display: flex;

  .projects-list__list,
  .projects-list__map {
    flex: 1;
  }

  .projects-list__map > div,
  .modul-geomap,
  .geomap-main,
  .geomap-container,
  .leaflet-container {
    height: 100%;
  }
}
