.stat-items {
    display: inline-flex;
    align-items: baseline;

    dt {
        order: 2;
        margin:0;
        margin-left: 0.25 * $spacer;
        font-weight: normal;
    }

    dd {
        order: 1;
        margin:0;
        margin-right: 0.25 * $spacer;
        font-weight: bold;
    }
}

.stats-dl {
    margin-bottom:0;
    margin-top:0;
    display: flex;
}

.maps-popups-popup-meta .stat-items {
    margin-right: $spacer;
}
