{% extends "meinberlin_contrib/item_form.html" %}
{% load i18n %}

{% block title %}{% trans 'Submit a new idea' %}{% endblock %}

{% block breadcrumbs %}
    <li>
        <a href="{% url 'project-detail' view.project.slug %}">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            {% trans 'back to project' %}</a>
    </li>
{% endblock %}

{% block additional_fields %}
    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.point %}
{% endblock %}

{% block actions %}
    <a href="{% url 'project-detail' view.project.slug %}" class="button button--light">{% trans 'cancel'%}</a>
{% endblock %}
