{% load menu static i18n contrib_tags %}

<div id="layout-grid__area--contentfooter">
    <div class="content-footer" id="content-footer" role="contentinfo">
        <div class="content-footer__brand">
          <!-- FIXME add logo here -->
        </div>
        <a class="to-top" href="#top">{% translate 'To the top of the page' %}</a>
        <nav class="content-footer__links" aria-label="{% translate 'Related Links' %}">
            <ul class="js-collapse-palm">
              {% get_footer_menu as footer_nav %}

              {% for footermenuitem in footer_nav %}
              <li {% if forloop.first %}class="initial-open"{% endif %}>
                <h3 class="heading js-trigger">{{ footermenuitem.title }}</h3>
                <ul>
                  {% for page_link in footermenuitem.page_link %}
                    <li><a href="{{ page_link.value.url }}">{{ page_link.value.link_text }}</a></li>
                  {% endfor %}
                </ul>
              </li>
              {% endfor %}
            </ul>
        </nav>
    </div>
</div>

{% get_external_footer %}
