{% load menu static i18n %}

<div id="layout-grid__area--contentfooter">
    <div class="content-footer" id="content-footer" role="contentinfo">
        <div class="content-footer__brand">
        </div>
        <a class="to-top" href="#top">{% trans 'To the top of the page' %}</a>
        <nav class="content-footer__links" aria-label="{% trans 'Related Links' %}">
            <ul class="js-collapse-palm">
            {% get_menu "footer-nav" as footer_nav %}
              {% for menuitem in footer_nav %}
                <li><a href="{{ menuitem.url }}">{{ menuitem.title }}</a></li>
              {% endfor %}
            </ul>
        </nav>
    </div>
</div>
