{% load menu static i18n %}

{% get_notifications_count as notifications_count %}

<header id="header" class="header">

    <!-- Portallogo Berlin Brand -->
    <div class="header__row-portalbrand">
        <div class="logo">
            <a href="https://www.berlin.de/">
                <img class="logo" title="{% translate 'To the home page of Berlin.de' %}" src="{% static 'images/logo_berlin.svg' %}" height="33" width="100" alt="Berlin.de" />
            </a>
        </div>
    </div>

    <div class="header__row-pageheader">
        <div class="pageheader__logo">
            <div class="logo">
                <a href="{% url 'wagtail_serve' '' %}" title="{% translate 'To the home page' %}">
                    <img class="svg" src="{% static 'images/logo_mb.svg' %}" alt="{% translate 'meinBerlin logo' %}" height="221" width="1080">
                </a>
            </div>
        </div>

        <!-- Quicklinks -->
        <nav class="pageheader__quicklinks" aria-label="{% translate 'Page navigation' %}">
            <ul>
                {% url 'meinberlin_plans:plan-list' as project_list %}
                <li class="{% if request.path == project_list %}active{% endif %}">
                    <a href="{% url 'meinberlin_plans:plan-list' %}">{% translate 'Kiezradar' %}</a>
                </li>
                {% url "notifications" as notifications_url %}
                <li class="{% if request.path == notifications_url %}active{% endif %}">
                    <a href="{{ notifications_url }}">{% translate 'Notifications' %}</a>
                    {% if notifications_count > 0 %}
                        <span class="header__notification-count">{{ notifications_count }}</span>
                    {% endif %}
                </li>
                {% get_header_menu "topnav" as topnav %}
                {% for item in topnav %}
                <li class="{% if request.path == item.url %}active{% endif %}">
                    <a href="{{ item.url }}">{{ item.title }}</a>
                </li>
                {% endfor %}
                {% if settings.meinberlin_cms.HeaderPages.help_page %}
                <li class="{% if request.path == settings.meinberlin_cms.HeaderPages.help_page.get_url %}active{% endif %}">
                    <a href="{{ settings.meinberlin_cms.HeaderPages.help_page.get_url }}">{% translate 'Help' %}</a>
                </li>
                {% endif %}
                {% if settings.meinberlin_cms.HeaderPages.feedback_page %}
                <li class="{% if request.path == settings.meinberlin_cms.HeaderPages.feedback_page.get_url %}active{% endif %}">
                    <a href="{{ settings.meinberlin_cms.HeaderPages.feedback_page.get_url }}">{% translate 'Give Feedback' %}</a>
                </li>
                {% endif %}
            </ul>
        </nav>

        <!-- ### Service button area with different overlays ## -->

        <div class="pageheader__services">

            <!-- Accessability button and overlay -->

            <div id="servicebuttonAccessibility"
                 class="service-button-overlay js-service-button-overlay accessibility">
                <div class="service-button-overlay__button">
                    <button type="button" class="icon-button js-button-overlay-open" aria-haspopup="true" aria-label="{% translate 'Open overlay: Accessibility' %}">
                        <i class="icon fas fa-universal-access" aria-hidden="true"></i>
                        <span class="text">{% translate 'Accessible' %}</span>
                    </button>
                </div>
                <!--noindex--><!--googleoff: index-->
                <div class="service-button-overlay__overlay overlay js-overlay-container robots-nocontent" role="dialog" aria-modal="true" hidden="hidden">
                    <div class="overlay__header">
                        <h2 class="heading"><span>{% translate 'Accessibility' %}</span></h2>
                        <button type="button" class="close-button js-button-overlay-close" aria-label="{% translate 'Close overlay: Accessibility' %}">
                            <i class="fas fa-times" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="overlay__body">
                        <!-- <h3>{% translate 'Settings' %}</h3>
                        <ul class="wcag-linklist">
                            <li>
                                <a href="#">
                                    <img aria-hidden="true" src="https://www.berlin.de/i9f/v4/css/images/misc/leichtesprache.svg" alt="{% translate 'Symbol for easy german' %}">
                                    {% translate 'Easy language' %}
                                    <span class="aural">{% translate 'show for this page' %}</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img aria-hidden="true" src="https://www.berlin.de/i9f/v4/css/images/misc/dgs.svg" alt="{% translate 'Sign language icon' %}">
                                    {% translate 'Sign language' %}
                                    <span class="aural">{% translate 'show for this page' %}</span>
                                </a>
                            </li>
                        </ul> -->
                        {% with accessibility=settings.meinberlin_cms.HeaderPages %}
                            {% if accessibility.accessibility_declaration %}
                                <h3>{% translate 'How accessible is this website?' %}</h3>
                                <p>
                                    <a href="{{ accessibility.accessibility_declaration.url }}">{{ accessibility.accessibility_declaration_link_text }}</a>
                                </p>
                            {% endif %}
                            {% if accessibility.feedback_name or accessibility.feedback_email or accessibility.feedback_phone %}
                                <h3>{% translate 'Whom to contact with comments or questions about digital accessibility (feedback option)?' %}</h3>
                                <p>
                                    {% if accessibility.feedback_name %}
                                        {% translate 'Name' %}: {{ accessibility.feedback_name }}<br>
                                    {% endif %}
                                    {% if accessibility.feedback_email %}
                                        {% translate 'Email' %}: <a href="mailto:{{ accessibility.feedback_email }}">{{ accessibility.feedback_email }}</a><br>
                                    {% endif %}
                                    {% if accessibility.feedback_phone %}
                                        {% translate 'Phone' %}: {{ accessibility.feedback_phone }}
                                    {% endif %}
                                </p>
                            {% endif %}

                            {% if accessibility.additional_external_info and accessibility.additional_external_info_link_text %}
                                <h3>{% translate 'Where can I find additional information on accessibility in the state of Berlin?' %}</h3>
                                <p>
                                    <a href="{{ accessibility.additional_external_info }}" class="extern" target="_blank">{{ accessibility.additional_external_info_link_text }}</a>
                                </p>
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
                <!--googleon: index--><!--/noindex-->
            </div>

            <!-- Hamburger navigation button and overlay -->
            <div id="servicebuttonMenu" class="service-button-overlay js-service-button-overlay menu">
                <div class="service-button-overlay__button">
                    <button type="button" class="icon-button js-button-overlay-open" aria-haspopup="true" aria-label="{% translate 'Open overlay: Menu' %}">
                        <i class="icon fas fa-bars" aria-hidden="true"></i>
                        <span class="text">{% translate 'Menu' %}</span>
                    </button>
                </div>
                <!--noindex--><!--googleoff: index-->
                <div class="service-button-overlay__overlay overlay js-overlay-container robots-nocontent" role="dialog" aria-modal="true" hidden="hidden">
                    <div class="overlay__header">
                        <h2 class="heading"><span>{% translate 'Menu' %}</span></h2>
                        <button type="button" class="close-button js-button-overlay-close" aria-label="{% translate 'Close overlay: Menu' %}">
                            <i class="fas fa-times" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="overlay__body">
                        {% include 'navigation_primary.html' %}
                    </div>
                </div>
                <!--googleon: index--><!--/noindex-->
            </div>
        </div>
    </div>
</header>
