{
  "root": true,
  "extends": [
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended",
    "standard",
    "standard-jsx"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "jquery": true
  },
  "parserOptions": {
    "ecmaVersion": 13,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": [
    "jsx-a11y",
    "react"
  ],
  "rules": {
    "jsx-quotes": [
      2,
      "prefer-double"
    ],
    "jsx-a11y/no-onchange": "off",
    "react/prop-types": "off"
  },
  "overrides": [
    {
      "files": [
        "**/*.jest.js",
        "**/*.jest.jsx"
      ],
      "env": {
        "jest": true
      }
    },
    {
      "files": [
        "**/*.ts",
        "**/*.tsx"
      ],
      "plugins": [
        "@typescript-eslint"
      ],
      "extends": [
        "standard-with-typescript",
        "plugin:@typescript-eslint/recommended"
      ],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": [
          "./tsconfig.json"
        ]
      }
    }
  ]
}
