{% load contrib_tags i18n offlineevent_tags static %}
{% offlineevents_and_modules_sorted project as modules_and_events %}

{% if project.display_timeline %}
    <section class="timeline" aria-labelledby="timeline-heading">
        <div class="timeline__header">
            <h2 id="timeline-heading">{% translate 'Participation process timeline' %}</h2>
            {% if project.participation_dates|length > 5 %}
                <div class="timeline__navigation">
                    <button class="timeline__nav-btn timeline__nav-btn--prev" 
                            aria-label="{% translate 'Previous timeline items' %}" 
                            disabled>
                        <img src="{% static 'images/arrow-prev.svg' %}" width="14" height="24" alt="" aria-hidden="true" />
                    </button>
                    <button class="timeline__nav-btn timeline__nav-btn--next" 
                            aria-label="{% translate 'Next timeline items' %}">
                        <img src="{% static 'images/arrow-next.svg' %}" width="15" height="25" alt="" aria-hidden="true" />
                    </button>
                </div>
            {% endif %}
        </div>
        <ol class="timeline__steps">
            {% for obj in project.participation_dates %}
                {% is_in_past obj.date as in_past %}
                {% if obj.type == 'module' %}
                    <li class="timeline__step {% if in_past %}timeline__step--completed{% endif %}">
                        <div class="timeline__indicator" aria-hidden="true"></div>
                        <div class="timeline__details">
                            <h3 class="timeline__title">
                                <time class="timeline__date" datetime="{{ obj.date|date:'c' }}">{% translate 'from' %} {{ obj.date|date:'DATE_FORMAT' }}</time>
                            </h3>
                            <div class="timeline__type">{{ obj.title }}</div>
                        </div>
                    </li>
                {% else %}
                    <li class="timeline__step {% if in_past %}timeline__step--completed{% endif %}">
                        <div class="timeline__indicator" aria-hidden="true"></div>
                        <div class="timeline__details">
                            <h3 class="timeline__title">
                                <time class="timeline__date" datetime="{{ obj.date|date:'c' }}">{% translate 'on' %} {{ obj.date|date:'DATE_FORMAT' }}</time>
                            </h3>
                            <div class="timeline__type">{{ obj.event_type }}</div>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ol>
    </section>
{% endif %}
