<article class="modul-card" data-add-clickable-area="smart">
    <header class="card__header">
        <h3 class="title">This is something for the list</h3>
        <div class="card__status status">
            <ul class="pill__list" aria-label="Proposal tags">
                <li class="pill pill--budget">456.789€</li>
                <li class="pill pill--category">Category 1</li>
                <li class="pill pill--info">1 Mehr</li>
            </ul>
            <div class="moderator-status" aria-label="Status Indicator">
                <span
                    class="moderator-status__color-indicator label--qualified"
                    aria-hidden="true"
                ></span
                ><span
                    ><strong>Status: </strong>Qualified for next phase</span
                >
            </div>
        </div>
        <div class="card__meta subtitle text--meta">
            <p>
                admin<time datetime="2023-11-06T17:34:26.377384+01:00">
                    edited am 6. November 2023 - 2023-00023</time
                >
            </p>
        </div>
    </header>
    <section class="card__footer--light">
        <dl class="card__stats stats-dl">
            <div class="card__stat stat-items">
                <dd>0</dd>
                <b>Support</b>
            </div>
            <div class="card__stat stat-items">
                <dd>0</dd>
                <dt>Votes</dt>
            </div>
            <div class="card__stat stat-items">
                <dd>0</dd>
                <dt>Comments</dt>
            </div>
        </dl>
        <a href="/budgeting/2023-00023/" class="more" data-mainlink="true"
            >Item details<span class="aural"
                >to: this is something for the list</span
            ></a
        >
    </section>
</article>
