{% load i18n thumbnail static %}

<div id="layout-grid__area--herounit">
    <article class="hero block {{ extra_class|default:'' }}">
        <div class="hero__container">
            <div class="hero__content">
                <h1 class="hero__title">
                    {% if show_buttons %}
                        <a href="{{ hero_link }}">{{ content.name }}</a>
                    {% else %}
                        {{ content.name }}
                    {% endif %}
                </h1>
                <div class="hero__description">
                    <p>{{ content.description|safe|truncatechars:245 }}</p>
                    {% if content.image_copyright %}
                        <p class="hero__image-copyright">{% translate "Image" %}: {{ content.image_copyright }}</p>
                    {% endif %}
                </div>

                {% if show_buttons %}
                    <div class="hero__buttons">
                        <a href="{{ hero_link }}" class="button button--light button--fullwidth-palm">
                            {% translate "More information" %}
                        </a>
                        {% load react_follows %}
                        {% react_follows project alert_target="follow-alert-wrapper" %}
                    </div>
                {% endif %}
            </div>

            <div class="hero__media">
                <figure class="hero__figure">
                    {% if show_buttons %}
                        <a href="{{ hero_link }}">
                    {% endif %}
                    {% if content.image %}
                        <img
                            class="hero__image"
                            src="{{ content.image|thumbnail_url:'heroimage' }}"
                            alt="{% if show_buttons %}{% blocktranslate with name=content.name %}Weitere Informationen zu {{ name }}{% endblocktranslate %}{% else %}{{ content.image_alt_text|default:'' }}{% endif %}"
                            loading="lazy"
                        />
                    {% else %}
                        <picture>
                            <source type="image/webp" srcset="{% static "images/placeholder_hero.webp" %}"/>
                            <source type="image/avif" srcset="{% static "images/placeholder_hero.avif" %}"/>
                            <img
                                src="{% static "images/placeholder_hero.svg" %}"
                                alt="{% if show_buttons %}{% blocktranslate with name=content.name %}Weitere Informationen zu {{ name }}{% endblocktranslate %}{% else %}{{ project.tile_image_alt_text }}{% endif %}"
                                class="hero__image"
                                loading="lazy"
                            />
                        </picture>
                    {% endif %}
                    {% if show_buttons %}
                        </a>
                    {% endif %}
                </figure>
            </div>
        </div>
    </article>
</div>
