<ul class="u-list-reset">
  <li>
    <article class="modul-card">
        <header id="card" class="card__header">
          <h3 class="title">testing</h3>
          <div class="card__status status">
              <p class="pill pill--budget">345€</p>
          </div>
          <div class="card__meta subtitle text--meta">
              <p>
                  admin<time datetime="2023-11-01T17:22:50.235096+01:00">
                      erstellt am 1. November 2023 - 2023-00025</time
                  >
              </p>
          </div>
      </header>
      <div class="card__body">
          <div class="row leftandright center">
              <div class="list-card__footer">
                  <div class="list-card__stats">
                      <span class="list-card__icon u-success" title="Unterstützung"
                          ><i
                              class="far fa-thumbs-up u-icon-spacing"
                              aria-hidden="true"
                          ></i
                          >0<span class="visually-hidden"
                              >People support this proposal.</span
                          ></span
                      ><span
                          class="list-card__icon u-primary"
                          title="Total number of votes"
                          ><i
                              class="far fa-check-square u-icon-spacing"
                              aria-hidden="true"
                          ></i
                          >0<span class="visually-hidden"
                              >Total number of votes</span
                          ></span
                      ><span title="Comments" class="list-card__icon"
                          ><i
                              class="far fa-comment u-icon-spacing"
                              aria-hidden="true"
                          ></i
                          >0<span class="visually-hidden">Comments</span></span
                      >
                  </div>
                  <a href="/" class="more" data-mainlink="true">
                    Details<span class="aural">to: testing</span></a>
              </div>
          </div>
      </div>
    </article>
  </li>
</ul>
