{% load i18n %}
<form class="form--base panel--heavy" novalidate enctype="multipart/form-data" action="{{ request.path }}" method="post">
    {% csrf_token %}
    {{ form.media }}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.name %}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.description %}

    {% if form.show_categories %}
        {% include 'meinberlin_contrib/includes/form_field_select.html' with field=form.category %}
    {% endif %}

    {% if form.show_labels %}
        {% include 'meinberlin_contrib/includes/form_field.html' with field=form.labels %}
    {% endif %}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.image %}

    {% include 'meinberlin_contrib/includes/form_checkbox_field.html' with field=form.right_of_use %}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.budget %}

    {% include 'meinberlin_contrib/includes/form_checkbox_field.html' with field=form.creator_contribution hide_label=True %}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.point %}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.point_label %}
 
    {% include 'meinberlin_contrib/includes/form_submit_actions.html' with button_text='Send' %}
</form>
