{% extends extends %}
{% load i18n static discovery_tags react_ideas %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'ideas.js' %}"></script>
    {{ block.super }}
{% endblock %}

{% block project_action %}
    {% has_or_would_have_perm 'meinberlin_ideas.add_idea' request.user module as propose_allowed %}
    {% if propose_allowed %}
        <a href="{% url 'meinberlin_ideas:idea-create' module_slug=module.slug %}" class="button">
            {% translate 'Submit idea' %}
        </a>    
    {% endif %}
{% endblock %}

{% block phase_content %}
    {% react_ideas view.module %}
{% endblock %}
