{% extends "base.html" %}
{% load i18n breadcrumbs_tags %}

{% block title %}{% blocktranslate with title=object.name %}Edit {{ title }}{% endblocktranslate %} - {{ block.super }}{% endblock title %}

{% block breadcrumbs %}
    {% translate "Edit idea" as final_title %}
    {% render_breadcrumbs final_title=final_title %}
{% endblock breadcrumbs %}

{% block content %}
<div id="layout-grid__area--maincontent">
    <h1>{% translate 'Edit idea' %}</h1>

    {% if form.errors %}
        {% include 'meinberlin_contrib/components/alert.html' with alert_message='Error during validation. Please check your entries.' alert_type='danger' %}
    {% endif %}

    {% include "meinberlin_ideas/includes/idea_form.html" with idea=idea cancel=object.get_absolute_url %}
</div>
{% endblock content %}
