{% extends "base.html" %}
{% load i18n meinberlin_project_tags %}

{% block title %}{% translate 'Create a new proposal' %} - {{ block.super }}{% endblock title %}

{% block breadcrumbs %}
    <div id="content-header">
        <nav class="breadcrumb" aria-label="{% translate 'You are here:' %}">
            <ol>
                <li><a href="{% url 'wagtail_serve' '' %}">meinBerlin</a></li>
                <li><a href="{% url 'meinberlin_plans:plan-list' %}">{% translate 'Project Overview' %}</a></li>
                <li><a href="{% url 'project-detail' project.slug %}">{{ project.name|truncatechars:50 }}</a></li>
                {% if module.is_in_module_cluster %}
                    <li><a href="{{ module.get_detail_url }}">{{ module.name|truncatechars:50 }}</a></li>
                {% endif %}
                <li class="active" aria-current="page">{% translate 'Submit a new idea for this project ' %}</li>
            </ol>
        </nav>
    </div>
{% endblock breadcrumbs %}

{% block content %}
<div id="layout-grid__area--maincontent">
    <h1>{% translate 'Submit a new idea for this project' %}</h1>

    {% if form.errors %}
        {% include 'meinberlin_contrib/components/alert.html' with alert_message='Error during validation. Please check your entries.' alert_type='danger' %}
    {% endif %}

    <div class="u-bottom-divider">
        <h3>{{ module.name }}</h3>
        {% if module.description %}
        <p>{{ module.description }}</p>
        {% else %}
        <p>{{ project.description }}</p>
        {% endif %}
    </div>
    {% include "meinberlin_ideas/includes/idea_form.html" with idea=idea cancel=module.get_detail_url %}
</div>
{% endblock content %}
