{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {{ object.name }}
    —
    {% translate 'Give feedback' %}
{% endblock title %}

{% block breadcrumbs %}
    <div id="content-header">
        <nav class="breadcrumb" aria-label="{% translate 'You are here:' %}">
            <ol>
                <li>
                    <a href="{% url 'wagtail_serve' '' %}">meinBerlin</a>
                </li>
                <li>
                    <a href="{% url 'meinberlin_plans:plan-list' %}">{% translate 'Kiezradar' %}</a>
                </li>
                <li>
                    <a href="{% url 'project-detail' project.slug %}">{{ project.name|truncatechars:50 }}</a>
                </li>
                <li>
                    <a href="{{ module.get_absolute_url }}">{{ module.name|truncatechars:50 }}</a>
                </li>
                <li>
                    <a href="{{ object.get_absolute_url }}">{% translate 'Idea' %}</a>
                </li>
                <li class="active" aria-current="page">{% translate 'Moderate idea' %}</li>
            </ol>
        </nav>
    </div>
{% endblock breadcrumbs %}

{% block content %}
    <div id="layout-grid__area--maincontent">
        <h1>{% translate 'Feedback on this idea' %}</h1>
        {% include "meinberlin_contrib/components/moderator_form.html" %}
    </div>
{% endblock content %}
