{% extends "base.html" %}
{% load i18n static rules wagtailcore_tags maps_tags thumbnail ckeditor_tags contrib_tags plan_tags breadcrumbs_tags %}

{% block title %}{{ object.title }} – {{ block.super }}{% endblock title %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'a4maps_display_point.js' %}"></script>
    <script type="text/javascript" src="{% static 'dsgvo_video_embed.js' %}"></script>
{% endblock extra_js %}

{% block extra_css %}
    {{ block.super }}
    <link type="text/css" href="{% static 'a4maps_display_point.css' %}" rel="stylesheet" />
{% endblock extra_css %}

{% block extra_messages %}
    {{ block.super }}

    {% if plan.is_draft %}
        <ul class="messages">
            <li class="alert alert--warning" role="alert">
                <div class="container">
                    {% translate 'This plan is not published yet.' %}
                </div>
            </li>
        </ul>
    {% endif %}
{% endblock extra_messages %}
{% block breadcrumbs %}
    {% render_breadcrumbs final_title=object.title %}
{% endblock breadcrumbs %}
{% block content %}
<div id="layout-grid__area--maincontent">
    {% modify_hero_content object as modified_content %}
    {% include 'meinberlin_contrib/components/hero.html' with content=modified_content show_buttons=False extra_class="hero--plan" %}

    <article class="item-detail">
        {% has_perm 'meinberlin_plans.change_plan' request.user object as user_may_change %}
        {% if user_may_change %}
            <div class="item-detail__edit">
                <a class="item-detail__edit-link" href="{% url 'a4dashboard:plan-update' organisation_slug=object.organisation.slug pk=object.pk %}">
                    {% translate 'Edit' %}
                </a>
            </div>
        {% endif %}

        <section class="item-detail__factsheet">
            <dl class="item-detail__factsheet-table" title="{% translate 'Plan details' %}">

                {% if object.point_label %}
                    <div><dt>{% translate 'Location' %}</dt><dd>{{ object.point_label|default:'no val' }}</dd></div>
                {% endif %}

                {% if object.duration %}
                <div>
                    <dt>{% translate 'Duration' %}</dt><dd>{{ object.duration }}</dd>
                </div>
                {% endif %}

                {% if object.cost != "Keine Angabe" %}
                <div>
                    <dt>{% translate 'Cost' %}</dt><dd>{{ object.cost }}</dd>
                </div>
                {% endif %}
                <div>
                    <dt>{% translate 'Level of participation' %}</dt>
                    <dd>
                        {{ object.get_participation_display }}
                        {% if object.published_projects.count %}/
                            <a href='#participation-plans'>
                                {% translate 'see participation projects' %}
                            </a>
                        {% endif %}
                    </dd>
                </div>
                <div>
                    <dt>{% translate 'Reference No.' %}</dt>
                    <dd>{{ object.reference_number }},
                        {% if object.modified %}
                            {% translate 'updated on ' %}{% html_date object.modified class='list-item__date' %}
                        {% else %}
                            {% translate 'created on ' %}{% html_date object.created class='list-item__date' %}
                        {% endif %}
                    </dd>
                </div>
            </dl>
        </section>

        <div class="item-detail__basic-content ck-content">
            {% if object.description %}
                {{ object.description | transform_collapsibles | richtext }}
            {% endif %}
        </div>
        {% if object.participation_explanation != "Bitte Begründung einfügen" %}
        <section class="item-detail__factsheet">
            <dl class="item-detail__factsheet-table" title="Plan details">
                <div>
                    <dt>{% translate 'Level of participation' %}</dt>
                    <dd>
                        {{ object.get_participation_display }}
                        {% if object.participation_explanation %}
                            <p>{{ object.participation_explanation }}</p>
                        {% endif %}
                    </dd>
                </div>
            </dl>
        </section>
        {% endif %}

        {% if object.point %}
            <div class="item-detail__map">
                {% map_display_point object.point polygon %}
            </div>
        {% endif %}

        {% if object.has_contact_details or object.organisation %}
            <section class="flexgrid grid--2 mb-3" aria-labelledby="contact-title">
                <h2>{% trans 'Contact Information' %}</h2>
                {% include 'meinberlin_projects/includes/contact_person.html' with contact=object only %}
                {% include 'meinberlin_projects/includes/contact_organisation.html' with organisation=object.organisation only %}
            </section>
        {% endif %}
    </article>

    {% if object.published_projects %}
    <section>
        <div class="container">
            <h3 class="item-detail__project-title" id="participation-plans">
                {% translate "Participation projects" %}
            </h3>
            <div
                data-projects-list
                data-projects="{{ published_projects }}"
                data-topic-choices="{{ topic_choices }}"
            ></div>
        </div>
    </section>
    {% endif %}
</div>

{% endblock content %}

{% block extra_js_deferred %}
    <script src="{% static 'mb_projects_list.js' %}"></script>
{% endblock extra_js_deferred %}
