{% load i18n %}
<p class="form-hint">
    {% blocktranslate %}Please select the plan your project belongs to. Your project will be shown in the list of plans accordingly.{% endblocktranslate %}
</p>

<div class="form-group">
    <label for="{{ form.organisation.id_for_label }}">
        {{ form.organisation.label }}{% if form.organisation.field.required %}<span role="presentation" title="{% translate "This field is required" %}">*</span>{% endif %}
    </label>
    <div class="widget widget--select">
        <select 
            name="{{ form.organisation.name }}" 
            id="{{ form.organisation.id_for_label }}" 
            hx-get="{% url 'a4dashboard:plans-dropdown' project_slug=form.instance.slug %}"
            hx-target="#plans-dropdown-container"
            hx-swap="innerHTML"
            hx-trigger="change"
        >
            {% for choice in form.organisation.field.queryset %}
                {% with org_value=form.organisation.value|default:form.organisation.initial %}
                    <option value="{{ choice.id }}" {% if org_value and org_value.id == choice.id or org_value == choice.id %}selected{% endif %}>
                        {{ choice.name }}
                    </option>
                {% endwith %}
            {% endfor %}
        </select>
    </div>
    {% if form.organisation.errors %}
        <ul class="errorlist" aria-live="assertive" aria-atomic="true">
            {% for error in form.organisation.errors %}
                <li>{{ error|escape }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>

<div id="plans-dropdown-container">
    {% include 'meinberlin_plans/includes/plans_dropdown.html' %}
</div>

{% if form.plans.errors %}
    <ul class="errorlist" aria-live="assertive" aria-atomic="true">
    {% for error in form.plans.errors %}
        <li>{{ error|escape }}</li>
    {% endfor %}
    </ul>
{% endif %}
