{% extends "base.html" %}
{% load i18n socialaccount %}

{% block title %}
  {% translate "User Dashboard" %}
  —
  {{ block.super }}
{% endblock title %}

{% block breadcrumbs %}
  <div id="content-header">
    <nav class="breadcrumb" aria-label="{% translate 'You are here:' %}">
      <ol>
        <li>
          <a href="{% url 'wagtail_serve' '' %}">{% translate 'meinBerlin Homepage' %}</a>
        </li>
        <li class="active" aria-current="page">{% translate 'Account Settings' %}</li>
      </ol>
    </nav>
  </div>
{% endblock breadcrumbs %}

{% block content %}
  <div id="layout-grid__area--maincontent">
    <h1>{% translate "Account & Security" %}</h1>

    <p>
      {% translate "Manage your username, your password and your e-mail addresses." %}
    </p>

    <nav class="dashboard-nav" aria-label="{% translate 'User Dashboard navigation' %}">
      {% with request.resolver_match.url_name as url_name %}
        <ul class="dashboard-nav__pages">
          <li class="dashboard-nav__page">
            <a href="{% url 'account_profile' %}" class="dashboard-nav__item dashboard-nav__item--interactive {% if request.resolver_match.url_name == " account_profile" %}is-active{% endif %}">
              {% translate 'Profile' %}
            </a>
          </li>
          <li class="dashboard-nav__page">
            <a href="{% url 'account_actions' %}" class="dashboard-nav__item dashboard-nav__item--interactive {% if request.resolver_match.url_name == " account_actions" %}is-active{% endif %}">
              {% translate 'Activities' %}
            </a>
          </li>
          <li class="dashboard-nav__page">
            <a href="{% url 'account_change_password' %}" class="dashboard-nav__item dashboard-nav__item--interactive {% if request.resolver_match.url_name == " account_change_password" %}is-active{% endif %}">
              {% translate 'Change password' %}
            </a>
          </li>
          <li class="dashboard-nav__page">
            <a href="{% url 'account_email' %}" class="dashboard-nav__item dashboard-nav__item--interactive {% if request.resolver_match.url_name == " account_email" %}is-active{% endif %}">
              {% translate 'Email addresses' %}
            </a>
          </li>
          {% get_providers as socialaccount_providers %}
          {% if socialaccount_providers %}
            <li class="dashboard-nav__page">
              <a href="{% url 'socialaccount_connections' %}" class="dashboard-nav__item dashboard-nav__item--interactive {% if request.resolver_match.url_name == " socialaccount_connections" %}is-active{% endif %}">
                {% translate 'Account Connections' %}
              </a>
            </li>
          {% endif %}
        </ul>
      {% endwith %}
    </nav>

    {% block dashboard_content %}{% endblock dashboard_content %}
  </div>
{% endblock content %}
