{% extends "meinberlin_account/account_dashboard.html" %}

{% load i18n %}

{% block title %}{% translate 'Your user profile' %} — {{ block.super }}{% endblock title %}
{% block dashboard_content %}
    <form enctype="multipart/form-data" action="{{ request.path }}" method="post">
        {% csrf_token %}
        {% include 'meinberlin_contrib/includes/form_field.html' with field=form.username %}

        {% include 'meinberlin_contrib/includes/form_submit_flex_end.html' with button_text='Change' %}
    </form>
    {{ form.media }}
{% endblock dashboard_content %}
