.editpoll__question--border > label + .form-check,
.editpoll__question--border > .form-group + .form-check {
    margin-top: 15px;
}

.editpoll__questions-options__form-check {
  display: flex;
  align-items: center;

  input {
      margin: 0 0.5em 0 0;
  }
}