.alert {
    position: relative;
    color: $info;
    background-color: $info-bg;
    animation: slide-in 0.2s ease-in-out;
}

.alert__content {
    padding: 1.5rem 2rem 1.5rem 1.5rem;
    margin: 0 auto;
    max-width: 81rem; // reproduces the old container max-width in bootstrap
}

.alert__headline {
    margin-top: 0;
}

.alert__text {
    margin: 0;
    line-height: 1.5;
}

/* Alert types */
.alert--success {
    color: $success;
    background-color: $success-bg;
}

.alert--error,
.alert--danger {
    color: $danger;
    background-color: $danger-bg;
}

.alert--warning {
    color: $warning;
    background-color: $warning-bg;
}

.alert--small {
    padding: 0.5em;
}

/* Close button */
.alert__close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.25rem;
    border: 0;
    color: inherit;
    cursor: pointer;
}

/* Animation */
@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}