.list-item {
    padding: 0.7em $padding;
    display: block;
    position: relative;
    border: 1px solid $border-color;
    background-color: $body-bg;
    margin-bottom: $em-spacer;
    page-break-inside: avoid;
    scroll-margin-top: 2 * $spacer;
}

.list-item--has-image {
    padding: 0;
}

.list-item--has-image__wrapper {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $breakpoint-xs) {
        flex-direction: row;
    }
}

.list-item--has-image__bg-colour,
.list-item--has-image__image {
    min-height: 7.5em;
    flex: 0 0 7.5em;
    background-color: $secondary;
}


.list-item--has-image__image {
    position: relative;

    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.list-item--has-image__copyright {
    position: absolute;
    font-size: 11px;
    color: $body-bg;
    background-color: rgba($gray, 0.7);
    padding: 0 0.2em;
    bottom: 0;
}

.list-item--has-image__body {
    padding: 0.7em $padding;
    flex: 1 1 auto;
}

.list-item__title {
    display: inline-block;
    margin: 0 0 0.8rem;
    font-size: $font-size-lg;
}

.list-item__action {
    display: inline;
}

.list-item-empty {
    padding: 0.7em $padding;
    text-align: center;
}
