{% extends "meinberlin_contrib/item_detail.html" %}
{% load i18n rules react_comments_async module_tags react_ratings wagtailcore_tags react_map_tags categories_tags static thumbnail %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'map_display_point.js' %}"></script>
{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link type="text/css" href="{% static 'map_display_point.css'%}" rel="stylesheet" />
{% endblock %}

{% block title %}{{object.name}} &mdash; {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <div id="layout-grid__area--contentheader">
        <div id="content-header">
            <nav class="breadcrumb" aria-label="{% translate 'You are here:' %}">
                <ol>
                    <li><a href="{% url 'meinberlin_plans:plan-list' %}">{% translate 'Project Overview' %}</a></li>
                    <li><a href="{% url 'project-detail' project.slug %}">{{ project.name|truncatechars:50 }}</a></li>
                    {% if module.is_in_module_cluster  %}
                    <li><a href="{{ module.get_detail_url }}">{{ module.name|truncatechars:50 }}</a></li>
                    {% endif %}
                    <li class="active" aria-current="page">{{ object.name }}</li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}

{% block content %}
<div id="layout-grid__area--maincontent">
    <div class="offset-lg-3 col-lg-6">
        <nav class="breadcrumbs" aria-label="{% translate 'breadcrumbs' %}">
            <ul>
                <li>
                    <a href="{{ module.get_detail_url }}">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        {% translate 'back' %}
                    </a>
                </li>
            </ul>
        </nav>
        <article class="item-detail">
            <h1 class="item-detail__title">{{ object.name }}</h1>

            {% include "meinberlin_contrib/includes/item_detail_labels.html" with object=object %}


            <div class="item-detail__content">
                <div class="item-detail__basic-content">
                    <img class="item-detail__hero-image" src="{% thumbnail object.image 'item_image' %}" alt="">
                    {{ object.description | richtext }}
                </div>

                {% if object.point %}
                    {% react_display_point module=object.module point=object.point %}
                {% endif %}
            </div>

            <div class="item-detail__meta lr-bar">
                <div class="lr-bar__right">
                    <strong>{% translate 'Reference No.' %}:</strong>
                    {{ object.reference_number }}
                </div>
            </div>

            <div class="item-detail__actions lr-bar">
                {% if object|has_feature:"rate" %}
                    <div class="lr-bar__left">
                        {% react_ratings object %}
                    </div>
                {% endif %}
            </div>
        </article>
        <section>
            <h2 class="visually-hidden">{% translate 'Comments' %}</h2>
            {% react_comments_async object %}
        </section>
    </div>
</div>
{% endblock %}
