{% extends 'base.html' %}
{% load static %}

{% block title %}
  Component Library — {{ block.super }}
{% endblock title %}

{% block content %}
    <div id="breadcrumb"></div>
    {% include 'meinberlin_contrib/components/breadcrumb.html' %}
    <div id="layout-grid__area--maincontent">
        {% include 'meinberlin_contrib/components/card.html' %}
    </div>
    <!-- Component list and links -->
    <div id="layout-grid__area--marginal" role="complementary" class="marginal">
        <ul>
            <li><a href="#breadcrumb" class="">Breadcrumb</a></li>
            <li><a href="#form-buttons" class="">Form Buttons</a></li>
            <li><a href="#card" class="">Card</a></li>
        </ul>
    </div>
{% endblock content %}
