{% extends "base.html" %}
{% load i18n module_tags rules react_comments_async react_comments_async react_ratings wagtailcore_tags item_tags contrib_tags moderatorremark_tags %}

{% block title %}
    {{ object.name }}
    —
    {{ block.super }}
{% endblock title %}

{% block breadcrumbs %}
    <div id="content-header">
        <nav class="breadcrumb" aria-label="{% translate 'You are here:' %}">
            <ol>
                <li>
                    <a href="{% url 'wagtail_serve' '' %}">meinBerlin</a>
                </li>
                <li>
                    <a href="{% url 'meinberlin_plans:plan-list' %}">{% translate 'Project Overview' %}</a>
                </li>
                <li>
                    <a href="{% url 'project-detail' project.slug %}">{{ project.name|truncatechars:50 }}</a>
                </li>
                {% if module.is_in_module_cluster %}
                    <li>
                        <a href="{{ module.get_detail_url }}">{{ module.name|truncatechars:50 }}</a>
                    </li>
                {% endif %}
                <li class="active" aria-current="page">{{ object.name }}</li>
            </ol>
        </nav>
    </div>
{% endblock breadcrumbs %}

{% block content %}
    <div id="layout-grid__area--maincontent">
        <article class="item-detail">
            <header>
                {% if object.image %}
                    <div class="image item-detail__image">
                        <div class="image__image">
                            <img src="{{ object.image.url }}" alt="{{ object.image.alt }}"/>
                        </div>
                    </div>
                {% endif %}

                <div class="item-detail__actions">
                    <h1 class="item-detail__title">
                        {{ object.name }}
                    </h1>

                    {% get_item_change_permission object as change_perm %}
                    {% has_perm change_perm request.user object as user_may_change %}
                    {% get_item_permission object 'moderate' as moderate_perm %}
                    {% has_perm moderate_perm request.user object as is_moderator %}

                    {% if request.user.is_authenticated %}
                        {% include "meinberlin_contrib/includes/item_detail_dropdown.html" with object=object %}
                    {% endif %}
                </div>

                <div class="item-detail__user">
                    <strong>{{ object.creator.username }}</strong>
                    {% if object.modified %}
                        {% translate 'updated on ' %}{% html_date object.modified class='list-item__date' %}
                    {% else %}
                        {% translate 'created on ' %}{% html_date object.created class='list-item__date' %}
                    {% endif %}
                </div>

                {% include "meinberlin_contrib/includes/item_detail_labels.html" with object=object %}
            </header>

            <section class="item-detail__content">
                <div class="ck-content">
                    {{ object.description | richtext }}
                </div>
                <div class="item-detail__reference">
                    <strong>{% translate 'Reference No.' %}:</strong>
                    {{ object.reference_number }}
                </div>
                {% block additional_content %}{% endblock additional_content %}
            </section>

            <section>
                {% block ratings %}
                    {% if object|has_feature:"rate" %}
                        <div>
                            {% react_ratings object %}
                        </div>
                    {% endif %}
                {% endblock ratings %}
            </section>

            {% block vote_button %}{% endblock vote_button %}

            {% if module.blueprint_type in 'PB3,PB2,PB' %}
                {% if is_moderator or object.moderator_status %}
                    {% include "meinberlin_contrib/components/moderator_feedback.html" %}
                {% endif %}
            {% endif %}

            {% include "meinberlin_contrib/components/moderator_notes.html" %}

            <section>
                {% react_comments_async object %}
            </section>
        </article>
    </div>
{% endblock content %}
