{% extends 'meinberlin_projects/project_detail.html' %}
{% load i18n wagtailcore_tags %}
{% block title %}{{ object.name }} — {{ block.super }}{% endblock title %}
{% block phase_content %}
    <div class="container">
        <div class="offset-lg-3 col-lg-6">
            <article class="item-detail">
                <h2 class="item-detail__title">TEST {{ object.name }}</h2>
                <div class="item-detail__meta">
                    <strong>{{ object.date }}</strong>
                </div>
                <div class="item-detail__content">
                    <div class="ck-content">{{ object.description | transform_collapsibles | richtext }}</div>
                    {% block additional_content %}{% endblock additional_content %}
                </div>
            </article>
        </div>
    </div>
{% endblock phase_content %}
