// styling of a4 utility classes
.a4-sr-only {
    @extend .aural;
}

// BO use of classes media query altered to suit linting
@media print, (width >= 37.501rem) {
    .row--reverse-palm {
        flex-direction: row-reverse;
    }
}

.is-hidden {
    display: none;
}

.u-spacer-top {
    margin-top: $spacer;
}

// BO defines this as black so overwritting
.text--color-primary {
    color: $primary;
}

.text--color-dark {
    color: var(--color-black);
}

// BO mimic of my-0
.mt-0 {
    margin-top: 0 !important;
}

// BO mimic of my-0.5
.mt-1 {
    margin-top: 0.5em;
}

.mb-2 {
    margin-bottom: 1em;
}