{% extends "base.html" %}
{% load i18n breadcrumbs_tags %}

{% block title %}
    {% translate 'Moderate' %}
    {{ object.name }}
    —
    {{ block.super }}
{% endblock title %}

{% block breadcrumbs %}
    {% translate "Moderate proposal" as final_title %}
    {% render_breadcrumbs final_title=final_title %}
{% endblock breadcrumbs %}

{% block content %}
    <div id="layout-grid__area--maincontent">
        <h1>{% translate 'Moderate proposal' %}</h1>
        {% include "meinberlin_contrib/components/moderator_form.html" %}
    </div>
{% endblock content %}
