{% extends "base.html" %}
{% load i18n breadcrumbs_tags %}

{% block title %}{% translate 'Create a new proposal' %} - {{ block.super }}{% endblock title %}

{% block breadcrumbs %}
    {% translate "Create proposal" as final_title %}
    {% render_breadcrumbs final_title=final_title %}
{% endblock breadcrumbs %}

{% block content %}
<div id="layout-grid__area--maincontent">
    <h1>{% translate 'Submit a new proposal for this project' %}</h1>

    {% if form.errors %}
        {% trans 'Error during validation. Please check your entries.' as alert_message %}
        {% include 'meinberlin_contrib/components/alert.html' with alert_message=alert_message alert_type='danger' %}
    {% endif %}

    {% include "meinberlin_budgeting/includes/proposal_form.html" with proposal=proposal cancel=module.get_absolute_url %}
</div>
{% endblock content %}
