{% extends "meinberlin_contrib/item_form.html" %}
{% load i18n item_tags %}

{% block title %}Edit {{idea.name}}{% endblock %}

{% block breadcrumbs %}
    <li>
        <a href="{% url 'project-detail' object.project.slug %}">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        {% trans 'back to project' %}</a>
    </li>
    <li>
        {% get_item_detail_url idea as detail_url %}
        <a href="{{ detail_url }}">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            {% trans 'back to idea' %}</a>
    </li>
{% endblock %}

{% block actions %}
    <a href="{% url 'project-detail' object.project.slug %}" class="button button--light">{% trans 'cancel'%}</a>
{% endblock %}
