{% load i18n project_tags meinberlin_project_tags contrib_tags thumbnail static rules %}
{% project_tile_image project as project_image %}
{% project_tile_image_copyright project as project_image_copyright %}
<a href="{% url 'module-detail' module.slug %}" class="module-tile">
    <p class="module-tile__title title-3">{{ module.name }}</p>
    <p class="module-tile__description">{{ module.description|truncatechars:240 }}</p>
    <span class="module-tile__insight">
        {% render_module_insights module %}
    </span>

    {% if module.module_running_time_left %}

        {% include "meinberlin_projects/includes/status_bar.html" with progress=module.module_running_progress uniqueId="module-running-progress-{{ module.pk }}" time_left=module.module_running_time_left %}

    {% elif not module.module_has_started %}

        <span class="module-tile__timespan">
            <i class="far fa-clock" role="img" aria-label="{% translate 'Clock' %}"></i>{% html_date module.module_start 'd.m.Y' as start_date %}
            {% blocktranslate with date=start_date %}Begins on the {{ date }}{% endblocktranslate %}
        </span>

    {% elif module.module_has_finished %}

        <span class="module-tile__timespan">
            {% translate 'Participation ended' %}
        </span>
    {% endif %}
</a>
