{% load i18n contrib_tags %}

<article>
    <section>
        <h2 class="phase-info__title">{{ phase.name }}</h2>
        <p class="phase-info__description">{{ phase.description }}</p>
    </section>
    <section role="status" aria-label="{% translate 'Phase status' %}">
        <span class="fas fa-clock" aria-hidden="true"></span>

        {% if phase == module.active_phase %}
            <span
                class="u-bold"
                id="active-phase"
            >
                {% translate 'active' %}
            </span>
        {% elif phase in module.future_phases %}
            <span
                class="u-secondary u-bold"
                id="upcoming-phase"
            >
                {% translate 'upcoming' %}
            </span>
        {% else %}
            <span
                class="u-secondary u-bold"
                id="finished"
            >
                {% translate 'finished' %}
            </span>
        {% endif %} 

        {% html_date phase.start_date 'DATETIME_FORMAT' %}
        – {% html_date phase.end_date 'DATETIME_FORMAT' %}
    </section>
</article>
