{% load static i18n %}
<!-- Start Swiper Template -->
<div role="region" aria-label="Slider" class="swiper-container swiper">
    <div role="group" aria-label="{% trans 'Slide controls' %}" class="swiper-navigation">
        <button
            aria-label="{% trans 'Show previous slide' %}"
            class="swiper-button-prev"
        ></button>
        <button
            aria-label="{% trans 'Show next slide' %}"
            class="swiper-button-next"
        ></button>
        <div class="swiper-pagination"></div>
    </div>

    <ul class="swiper-wrapper">
        {% for phase in module.phases %}
        <li class="swiper-slide">
            {% include "a4modules/includes/module_detail_phase_info.html" %}
        </li>
        {% endfor %}
    </ul>
</div>
<!-- End Swiper Template -->

{% block extra_js %}
<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<!-- Your Swiper initialization script -->
<script src="{% static 'swiper_phases.js' %}"></script>
{% endblock %}

