{% load i18n %}


{% with phase_count=module.phases.count %}
{% if phase_count == 1 %}
    {% with phase=module.phases.first %}
    {% include "a4modules/includes/module_detail_phase_info.html" %}
    {% endwith %}
{% else %}
    {% include "a4modules/includes/module_detail_phase_swiper.html" %}
{% endif %}
{% endwith %}

{% if project.is_private %}
    <div>
        <span class="fas fa-lock u-spacer-right" aria-hidden="true"></span>
        {% translate 'This project is not publicly visible. Only invited users can see content and actively participate.' %}
    </div>
{% elif project.is_semipublic %}
    <div>
        <span class="fas fa-eye u-spacer-right" aria-hidden="true"></span>
        {% translate 'This project is publicly visible. Invited users can actively participate.' %}
    </div>
{% endif %}
