{% extends "a4dashboard/base_dashboard_project.html" %}
{% load i18n %}

{% block title %}{% translate 'Add a new topic' %} - {{ block.super }}{% endblock title %}

{% block dashboard_project_content %}
<div class="container">
  
    <h1 class="u-first-heading">{% translate 'Add a new topic' %}</h1>

    {% if form.errors %}
        {% trans 'Error during validation. Please check your entries.' as alert_message %}
        {% include 'meinberlin_contrib/components/alert.html' with alert_message=alert_message alert_type='danger' %}
    {% endif %}

    {% url 'a4dashboard:topic-list' module_slug=module.slug as cancel %}
    {% include "meinberlin_topicprio/includes/topic_form.html" with cancel=cancel %}
</div>
{% endblock dashboard_project_content %}
