{% extends extends %}
{% load i18n discovery_tags static maps_tags module_tags react_mapideas %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'map_ideas.js' %}"></script>
    {{ block.super }}
{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link type="text/css" href="{% static 'map_ideas.css'%}" rel="stylesheet" />
{% endblock %}

{% block project_action %}
    {% has_or_would_have_perm 'meinberlin_mapideas.add_mapidea' request.user module as propose_allowed %}
    {% if propose_allowed %}
        <a href="{% url 'meinberlin_mapideas:mapidea-create' module_slug=module.slug %}" class="button">
            {% translate 'Submit Idea' %}
        </a>
    {% endif %}
{% endblock %}

{% block phase_content %}
    {% react_mapideas view.module %}
{% endblock %}
