{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktranslate with title=object.name %}Edit {{ title }}{% endblocktranslate %} &mdash; {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <div id="content-header">
        <nav class="breadcrumb" aria-label="{% translate 'You are here:' %}">
            <ol>
                <li><a href="/">meinBerlin</a></li>
                <li><a href="{% url 'meinberlin_plans:plan-list' %}">{% translate 'Project Overview' %}</a></li>
                <li><a href="{% url 'project-detail' project.slug %}">{{ project.name|truncatechars:50 }}</a></li>
                {% if module.is_in_module_cluster  %}
                    <li><a href="{{ module.get_detail_url }}">{{ module.name|truncatechars:50 }}</a></li>
                {% endif %}
                <li><a href="{{ object.get_absolute_url }}">{% translate 'Idea' %}</a></li>
                <li class="active" aria-current="page">{% translate 'Edit idea' %}</li>
            </ol>
        </nav>
    </div>
{% endblock %}

{% block content %}
<div id="layout-grid__area--maincontent">
    <h1>{% translate 'Edit idea' %}</h1>

    {% if form.errors %}
    <div class="alert alert--danger" aria-live="assertive" aria-atomic="true" id="alert">
        {% translate 'An error occurred while evaluating your data. Please check the data you entered again.' %}
    </div>
    {% endif %}

    {% include "meinberlin_mapideas/includes/mapidea_form.html" with cancel=object.get_absolute_url %}
</div>
{% endblock %}
