{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate 'Create a new proposal' %} &mdash; {{ block.super }}{% endblock %}
{% block breadcrumbs %}
    <div id="layout-grid__area--contentheader">
        <div id="content-header">
            <nav class="breadcrumb" aria-label="{% translate 'You are here:' %}">
                <ol>
                    <li><a href="{{ project.get_url }}">{% if project.name|truncatechars:50 %}{{ project.name|truncatechars:50 }}{% else %}{{ project.name }}{% endif %}</a></li>
                    <li><a href="{{ module.get_detail_url }}">{% if module.name|truncatechars:50 %}{{ module.name|truncatechars:50 }}{% else %}{{ module.name }}{% endif %}</a></li>
                    <li class=”active” aria-current="page">{% if self.page_title %}{{ self.page_title|truncatechars:50 }}{% else %}{{ self.title|truncatechars:50 }}{% endif %}</li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="offset-lg-3 col-lg-6">
        <nav class="breadcrumbs" aria-label="{% translate 'breadcrumbs' %}">
            <ul>
                <li>
                    <a href="{{ module.get_detail_url }}">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        {% translate 'go back' %}</a>
                </li>
            </ul>
        </nav>

        <h1>{% translate 'Submit a new idea for this project'%}</h1>

        {% if form.errors %}
        <div class="alert alert--danger" aria-live="assertive" aria-atomic="true" id="alert">
          {% translate 'An error occurred while evaluating your data. Please check the data you entered again.' %}
        </div>
        {% endif %}

        <div class="u-bottom-divider">
            <h3>{{ module.name }}</h3>
            {% if module.description %}
            <p>{{ module.description }}</p>
            {% else %}
            <p>{{ project.description }}</p>
            {% endif %}
        </div>

        {% include "meinberlin_mapideas/includes/mapidea_form.html" with cancel=module.get_detail_url %}
    </div>
</div>
{% endblock %}
