{% extends "meinberlin_contrib/item_detail.html" %}
{% load static react_map_tags categories_tags %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'map_display_point.js' %}"></script>
{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link type="text/css" href="{% static 'map_display_point.css'%}" rel="stylesheet" />
{% endblock %}

{% block additional_content %}
    {% if object.point %}
        {% react_display_point object.module object.point %}
    {% endif %}
{% endblock %}
