{% extends extends %}
{% load i18n react_comments_async wagtailcore_tags %}

{% block phase_content %}
    <article class="u-spacer-top">
        {% if chapter_list %}
            <div class="modul-toc">
                <h2 class="title">{% translate 'Table of Contents' %}</h2>
                <ol aria-label="{% translate 'Table of Contents' %}">
                    {% for chapter in chapter_list %}
                        <li>
                            <a href="{{ chapter.get_absolute_url }}" {% if chapter == object %}class="text--strong" aria-current="page"{% endif %}>
                                {{ chapter.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ol>
            </div>
            <div>
                <h2>{{ object.name }}</h2>
                {% for paragraph in object.paragraphs.all %}
                    <section id="paragraph-{{ object.pk }}-{{ paragraph.pk }}">
                        <div>
                            <h3>
                                {{ paragraph.name }}
                            </h3>
                            <div class="ck-content">
                                {{ paragraph.text|richtext }}
                            </div>
                        </div>
                        <div class="u-flex-end">
                            <a href="{{ paragraph.get_absolute_url }}">
                                <i class="far fa-comment icon--color-link" aria-hidden="true"></i>
                                {% blocktranslate count count=paragraph.comments.all|length %}Comment ({{ count }}){% plural %}Comments ({{ count }}){% endblocktranslate %}
                            </a>
                        </div>
                    </section>
                {% endfor %}
            </div>
        {% else %}
            {% translate 'A Document has not been added yet' %}
        {% endif %}
    </article>

    {% if chapter_list|length > 1 %}
        {% include 'meinberlin_documents/includes/nextprev.html' %}
    {% endif %}

    <section>
        {% if object %}
            <h2>{% translate 'Comments' %}</h2>
            {% react_comments_async object %}
        {% endif %}
    </section>

{% endblock phase_content %}
