{% extends "base.html" %}
{% load static i18n breadcrumbs_tags %}
{% block breadcrumbs %}
    {% translate "Followed Projects" as final_title %}
    {% render_breadcrumbs final_title=final_title %}
{% endblock breadcrumbs %}
{% block title %}{% translate 'Followed Projects' %} - {{ block.super }}{% endblock title %}

{% block content %}
<div id="layout-grid__area--maincontent">
    <h1>{% translate 'Followed Projects' %}</h1>
    <div
        data-projects-list
        data-projects-url="{% url 'followed-projects-list' %}"
        data-topic-choices="{{ topic_choices }}"
    ></div>
</div>
{% endblock content %}

{% block extra_js_deferred %}
    <script src="{% static 'mb_projects_list.js' %}"></script>
{% endblock extra_js_deferred %}