{% extends "base.html" %}
{% load static i18n react_kiezradar breadcrumbs_tags %}

{% block title %}{% translate 'Kiez selection' %} - {{ block.super }}{% endblock title %}

{% block breadcrumbs %}
    {% translate 'Kiez selection' as final_title %}
    {% render_breadcrumbs final_title=final_title %}
{% endblock breadcrumbs %}

{% block extra_js %}
    {{ block.super }}
{% endblock extra_js %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'react_kiezradar.css' %}" />
{% endblock extra_css %}

{% block content %}
<div id="layout-grid__area--maincontent">
    {% react_kiezradar %}
</div>
{% endblock content %}

{% block extra_js_deferred %}
    <script src="{% static 'react_kiezradar.js' %}"></script>
{% endblock extra_js_deferred %}
