{% load i18n widget_tweaks %}

{% with field.id_for_label|add:"_helptext" as helptext_id %}
<div class="form-group {% if add_class %}{{ add_class }}{% endif %} mb-3">
    <div class="form-check">
        <div class="d-flex align-items-start">
            <span class="flex-shrink-0" style="width: 1.25rem;">
                {% if field.help_text %}
                    {% with 'aria-describedby:'|add:helptext_id as describedby_attr %}
                        {{ field|add_class:"form-check-input form-check-input__mb m-0"|add_error_attr:"aria-invalid:true"|attr:describedby_attr }}
                    {% endwith %}
                {% else %}
                    {{ field|add_class:"form-check-input form-check-input__mb m-0"|add_error_attr:"aria-invalid:true" }}
                {% endif %}
            </span>
            
            {% if not hide_label %}
                <label class="form-check-label" for="{{ field.id_for_label }}">
                    {{ field.label }}
                </label>
            {% endif %}
        </div>

        {% if field.help_text %}
            <div class="form-hint ms-5 {% if not hide_label %}mt-1{% endif %}" id="{{ helptext_id }}">
                {{ field.help_text }}
            </div>
        {% endif %}

        <!-- Error messages -->
        {% if field.errors %}
            {% if field.errors|length > 1 %}
                <ul class="errorlist ms-4 mt-1" aria-live="assertive" aria-atomic="true">
                    {% for error in field.errors %}
                        <li>{{ error|escape }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                {% include 'meinberlin_contrib/components/alert.html' with alert_message=field.errors.0|escape alert_type='danger' %}
            {% endif %}
        {% endif %}
    </div>
</div>
{% endwith %}