{% load i18n %}
<div id="{{ field.id_for_label }}_criteria"
     class="password-criteria"
     data-password-criteria
     data-password-input="#{{ field.id_for_label }}"
     data-username-input="#id_username"
     data-min-length="10"
     data-met-text="{% translate 'Met' %}"
     data-unmet-text="{% translate 'Not met' %}"
     hidden>
    <p class="password-criteria__title">{% translate "Password requirements:" %}</p>

    <ul class="password-criteria__list">
        <li class="password-criteria__item" data-criterion="length">
            <i class="password-criteria__icon fas fa-circle" aria-hidden="true"></i>
            <span class="password-criteria__label">{% translate "At least 10 characters" %}</span>
            <span class="password-criteria__status a4-sr-only" aria-live="polite"></span>
        </li>
        <li class="password-criteria__item" data-criterion="username">
            <i class="password-criteria__icon fas fa-circle" aria-hidden="true"></i>
            <span class="password-criteria__label">{% translate "Doesn't contain your username" %}</span>
            <span class="password-criteria__status a4-sr-only" aria-live="polite"></span>
        </li>
        <li class="password-criteria__item" data-criterion="categories">
            <i class="password-criteria__icon fas fa-circle" aria-hidden="true"></i>
            <span class="password-criteria__label">{% translate "Must contain at least 3 of these 4 character types:" %}</span>
            <span class="password-criteria__status a4-sr-only" aria-live="polite"></span>
            <ul class="password-criteria__types">
                <li class="password-criteria__pill" data-category="uppercase">A-Z</li>
                <li class="password-criteria__pill" data-category="lowercase">a-z</li>
                <li class="password-criteria__pill" data-category="number">0-9</li>
                <li class="password-criteria__pill" data-category="special">! , / % $ ? *</li>
            </ul>
        </li>
    </ul>
</div>
