{% load i18n widget_tweaks %}

<div class="form-group {% if add_class %}{{ add_class }}{% endif %} mb-2">
    <label for="{{ field.id_for_label }}" {% if tabindex %} tabindex="{{ tabindex }}" {% endif %} class="form-label">
        {{ field.label }}
        {% if field.field.required %}
            <span class="icon-required" aria-hidden="true">*</span>
            <span class="aural">{% translate 'This field is required' %}</span>
        {% endif %}
        {% block after_label %}{% endblock after_label %}
    </label>

    {% if field.help_text and not field.name == "password" %}
        <span class="formgroup__help">
            {{ field.help_text }}
        </span>
    {% endif %}

    {% block field %}
        <div class="widget widget--{{ field|widget_type }}">
            {{ field|add_error_attr:"aria-invalid:true" }}
        </div>
    {% endblock field %}

    {% if field.errors %}
        <ul class="errorlist" aria-live="assertive" aria-atomic="true">
            {% for error in field.errors %}
                <li class="message message--error">{{ error|escape }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
