{% load i18n widget_tweaks %}

{% with field.id_for_label|add:"_helptext" as helptext_id %}
<div class="form-group {% if add_class %}{{ add_class }}{% endif %} mb-3">
    <div class="form-check">
        <label class="form-check__label" for="{{ field.id_for_label }}">
            {% if field.help_text %}
                {% with 'aria-describedby:'|add:helptext_id as describedby_attr %}
                    {{ field|add_class:"form-check-input form-check-input__mb m-0"|add_error_attr:"aria-invalid:true"|attr:describedby_attr }}
                {% endwith %}
            {% else %}
                {{ field|add_class:"form-check-input form-check-input__mb m-0"|add_error_attr:"aria-invalid:true" }}
            {% endif %}
            {% if not hide_label %}
                {{ field.label }}
            {% endif %}
        </label>

        {% if field.help_text %}
            <div class="form-hint" id="{{ helptext_id }}">
                {{ field.help_text }}
            </div>
        {% endif %}

        {% if field.errors %}
            {% if field.errors|length > 1 %}
                <ul class="errorlist" aria-live="assertive" aria-atomic="true">
                    {% for error in field.errors %}
                        <li class="message message--error">{{ error|escape }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                {% include 'meinberlin_contrib/components/alert.html' with alert_message=field.errors.0|escape alert_type='danger' %}
            {% endif %}
        {% endif %}
    </div>
</div>
{% endwith %}
