{% load i18n %}
<div class="u-space-between u-spacer-top u-spacer-bottom-double">
    <a href='{{ prev }}' class="btn btn--wide btn--icon {% if not prev %}disabled{% endif %}">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
        {% translate 'Previous proposal' %}
    </a>
    <a href='{{ next }}'class="btn btn--wide btn--icon-end {%if not next %}disabled{% endif %} ">
        {% translate 'Next proposal' %}
        <i class="fa fa-angle-right" aria-hidden="true"></i>
    </a>
</div>
