{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags rules i18n static %}

{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}
  {{ self.title }}{% endif %} – {{ block.super }}{% endblock title %}

{% block header_meta %}
    {% if self.search_description %}
        <meta name="description" content="{{ self.search_description }}"/>
    {% endif %}
{% endblock header_meta %}

{% block breadcrumbs %}
  {% include 'meinberlin_cms/includes/cms_breadcrumb.html' %}
{% endblock breadcrumbs %}

{% block extra_js %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'react_map_teaser.js' %}" defer></script>
{% endblock extra_js %}

{% block content %}
  <div id="layout-grid__area--maincontent">
    {% image self.header_image max-1920x560 as header_image %}

        {% if header_image.url %}
        <div class="hero-unit">
            <div class="hero-unit__wrapper">
                <h1 class="hero-unit__title u-first-heading">{{ self.title }}</h1>
                <div class="hero-unit__subtitle">{{ self.subtitle }}</div>
            </div>
            <div class="hero-unit__img" style="background-image: url({{ header_image.url }})">
                {% if self.header_image.copyright %}
                    <div class="hero-unit__copyright copyright">© {{ self.header_image.copyright }}</div>
                {% endif %}
            </div>
        </div>
        {% endif %}

    {% for block in self.body %}
      {% if block.block_type == 'infographic' or block.block_type == 'map_teaser' %}
        {% include_block block %}
      {% else %}
        {% if block.block_type == 'accordion' %}
          <div class="offset-lg-2 col-lg-8">
            {% include_block block %}
          </div>
        {% else %}
          {% include_block block %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
{% endblock content %}
