{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktranslate with project=moderatorinvite.project.name %}Invitation to {{ project }}{% endblocktranslate %}{% endblock title %}
{% block content %}
<div class="narrow-wrapper">
    <h1>{% blocktranslate with project=moderatorinvite.project.name %}Moderation invitation for {{ project }}{% endblocktranslate %}</h1>

    {% if form.non_field_errors %}
        <ul class="errorlist" aria-live="assertive" aria-atomic="true">
        {% for error in form.non_field_errors %}
            <li>{{ error|escape }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <p>
        {% translate "You were invited by the initiator of the project. If you accept you will be able to moderate the project." %}
    </p>
    <form method="post">
        {% csrf_token %}
        {% translate "Accept" as button_text %}
        {% translate "Decline" as secondary_button_text %}
        {% include 'meinberlin_contrib/includes/form_submit_flex_end.html' with button_text=button_text secondary_button_text=secondary_button_text %}
    </form>
</div>
{% endblock content %}
