{% extends "base.html" %}
{% load i18n rules thumbnail wagtailcore_tags meinberlin_project_tags offlineevent_tags contrib_tags ckeditor_tags static %}
{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'dsgvo_video_embed.js' %}"></script>
{% endblock extra_js %}
{% block title %}
    {{ project.name }} — {{ block.super }}
{% endblock title %}
{% block extra_messages %}
    {{ block.super }}
    {% if project.is_draft %}
        {% translate 'This project has not yet been published.' as info %}
        {% include 'meinberlin_contrib/components/info-box.html' with info_message=info %}
    {% endif %}
{% endblock extra_messages %}

{% block content %}
    {% include 'meinberlin_projects/includes/project_detail_content.html' %}
{% endblock content %}
