{% extends "base.html" %}
{% load i18n rules thumbnail wagtailcore_tags meinberlin_project_tags offlineevent_tags contrib_tags ckeditor_tags static %}

{% block extra_js %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'dsgvo_video_embed.js' %}"></script>
{% endblock extra_js %}

{% block title %}{{ project.name }} — {{ block.super }}{% endblock title %}

{% block extra_messages %}
  {{ block.super }}

  {% if project.is_draft %}
    {% include 'meinberlin_contrib/components/info-box.html' with info_message='This project has not yet been published.' %}
  {% endif %}
{% endblock extra_messages %}

{% block breadcrumbs %}
  <div id="content-header">
    <nav class="breadcrumb" aria-label='{% translate "You are here:" %}'>
      <ol>
        <li><a href="{% url 'wagtail_serve' '' %}">meinBerlin</a></li>
        <li>
          <a href="{% url 'meinberlin_plans:plan-list' %}">{% translate "Kiezradar" %}</a>
        </li>
        <li class="active" aria-current="page">{{ project.name|truncatechars:50 }}</li>
      </ol>
    </nav>
  </div>
{% endblock breadcrumbs %}

{% block content %}
  <div class="layout-grid__area--maincontent">
    {% url 'project-information' slug=project.slug as info_page %}
    {% include 'meinberlin_contrib/components/hero.html' with content=project show_buttons=True hero_link=info_page %}

    {% include 'meinberlin_projects/project_actions.html' %}

    {% include 'meinberlin_projects/includes/project_details_summary.html' %}
    <section aria-labelledby="project-participation" class="block">
      <h2 id="project-participation">{% translate "Online Participation" %}</h2>
      <ul class="list--clean flexgrid grid--3 grid--stretch">
        {% get_sorted_modules as modules %}
        {% for module in modules %}
          <li>
            {% include "meinberlin_projects/includes/project_module_tile.html" with project=project module=module %}
          </li>
        {% endfor %}
      </ul>
    </section>
    {% if events %}
    <section aria-labelledby="project-events">
      <div class="actionable-list__header">
        <h2 id="project-events">{% translate "Offline Events" %}</h2>
      </div>
      <ul class="actionable-list">
        {% for event in events %}
          <li class="actionable-list__item actionable-list__item--hide-first-line{% if event.is_past %} actionable-list__item--faded{% endif %}">
            {% html_date event.date 'DATE_FORMAT' %} · {{ event.event_type }}
            <a href="{{ event.get_absolute_url }}" class="actionable-list__item__body">
              <h4 class="my-0">{{ event.name }}</h4>
              <div class="actionable-list__item__actions actionable-list__item__actions--inline">
                <i class="bicon bicon-arrow-right" aria-hidden="true"></i>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </section>
    {% endif %}

    {% include 'meinberlin_projects/includes/project_insights.html' %}
  </div>
{% endblock content %}
