// BO overwrites
.btn.btn--follow,
.btn.btn--following {
    @extend .button;

    &:after {
        background-color: $primary;
    }
}

.btn.btn--follow:after {
    content: "\f067";
}

.btn.btn--following:after {
    content: "\f00c";
}

// FIXME should be displayed or read out, might require refactor
.follow__notification {
    display: none;
}
