.infobox__text {
    margin-left: 2 * $spacer;
}

.infobox__icon {
    margin-left: -0.6 * $spacer;
    position: absolute;
}

// infobox bigger
@media screen and (min-width: $breakpoint-xs) {
    .infobox {
        display: inline-flex;
    }

    .infobox__box {
        text-align: center;
        padding: $spacer;
        margin-right: $spacer;
    }

    .infobox__box > i {
        display: block;
        position: relative;
    }

    .infobox__text {
        margin-left: 0;
    }

    .infobox__icon {
        display: block;
        position: relative;
        margin: auto;
    }

    .infobox__box--last {
        margin-right: 0;
    }
}

.progress {
    margin-bottom: $spacer;
    position: relative;
}

.progress-bar {
    display: flex;
    height: 1.5rem;
    background-color: $primary-tint;
    border-radius: 0.25rem;
    position: absolute;
}

.progress-bar__stats {
    position: relative;
    z-index: 1;
}

.live_questions_infographic__footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}

.live_questions_infographic__logo-container {
    width: 100%;  // required when used in a flex container
    max-width: $wrapper-width;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    max-height: 2 * $spacer;

    @media screen and (min-width: $breakpoint) {
        justify-content: flex-start;
    }
}

.live_questions_infographic__logo {
    position: relative;
    top: -5rem;

    @media screen and (min-width: $breakpoint-lg) {
        left: -5rem;
    }
}

.live_questions_infographic {
    padding-bottom: 2 * $spacer;

    .block--infographic__icon-block {
        margin: auto;
    }

    .block--infographic__icon {
        padding-right: 0;
    }

    a {
        color: $body-bg;
        text-decoration: underline;
        display: block;

        @media screen and (min-width: $breakpoint) {
            display: inline-block;
        }
    }
}

.live_question__presentation {
    margin-top: 5 * $spacer;
}

.fa-stack,
.fa-stack-2x {
    font-size: 1rem;
    line-height: 1rem;
    height: 1rem;
}

.fa-stack-1x {
    font-size: 0.6rem;
    line-height: inherit;
}
