.maps-popups-popup-name {
    @extend .list-item__title;
}

.map-popup-upvotes i {
    color: $brand-success;
}

.map-popup-downvotes i {
    color: $brand-danger;
}

.map-popup-upvotes,
.map-popup-downvotes,
.map-popup-comments-count {
    margin-right: 0.5em;
}

.map-list {
    display: flex;
    flex-direction: column;
    max-height: 80vh;

    @media (min-width: $breakpoint) {
        flex-direction: row;
    }
}

.map-list__map {
    flex: 1 1 300px;
    height: auto !important;
}

.map-list__list {
    flex: 1 1 60%;
    overflow-y: auto;
}
