{% extends "account/base.html" %}
{% load i18n account %}

{% block head_title %}
    {% translate "Password Reset" %}
{% endblock head_title %}

{% block content %}
    <div class="narrow-wrapper">
        <h1>{% translate "Password Reset" %}</h1>

        <p>{% translate "Forgot password? Enter your email address and you will receive an email with which you can reset your password. Please contact us if you have any problems resetting your password." %}</p>

        <form method="post" action="{% url 'account_reset_password' %}" class="password_reset">
            {% if form.non_field_errors %}
                <ul class="errorlist" aria-live="assertive" aria-atomic="true">
                    {% for error in form.non_field_errors %}
                        <li>{{ error|escape }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% csrf_token %}
            {% include 'meinberlin_contrib/includes/form_field.html' with field=form.email %}
            
            <button class="button button--full-width" type="submit">{% translate 'Reset Password' %}</button>            
        </form>
    </div>
{% endblock content %}
