{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate 'Create a new proposal' %}{% endblock %}
{% block breadcrumbs %}
    <div id="layout-grid__area--contentheader">
        <div id="content-header">
            <nav class="breadcrumb" aria-label="{% translate 'You are here:' %}">
                <ol>
                    {% url 'meinberlin_plans:plan-list' as project_list %}
                    <li><a href="{% url 'meinberlin_plans:plan-list' %}">{% trans 'Project Overview' %}</a></li>
                    <li><a href="{{ project.get_url }}">{% if project.name|truncatechars:50 %}{{ project.name|truncatechars:50 }}{% else %}{{ project.name }}{% endif %}</a></li>
                    {% if module.is_in_module_cluster  %}
                        <li><a href="{{ module.get_detail_url }}">{% if module.name|truncatechars:50 %}{{ module.name|truncatechars:50 }}{% else %}{{ module.name }}{% endif %}</a></li>
                    {% endif %}
                    <li class=”active” aria-current="page">{% translate 'Submit a new proposal for this project' %}</li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="offset-lg-3 col-lg-6">
        <nav class="breadcrumbs" aria-label="{% translate 'breadcrumbs' %}">
            <ul>
                <li>
                    <a href="{{ module.get_detail_url }}">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        {% translate 'go back' %}</a>
                </li>
            </ul>
        </nav>

        <h1>{% translate 'Submit a new proposal for this project'%}</h1>

        {% if form.errors %}
        <div class="alert alert--danger" aria-live="assertive" aria-atomic="true" id="alert">
          {% translate 'An error occurred while evaluating your data. Please check the data you entered again.' %}
        </div>
        {% endif %}

        {% include "meinberlin_kiezkasse/includes/proposal_form.html" with proposal=proposal cancel=module.get_detail_url %}
    </div>
</div>
{% endblock %}
