{% extends extends %}
{% load i18n discovery_tags static maps_tags react_kiezkasse_proposals %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'kiezkasse_proposals.js' %}"></script>
    {{ block.super }}
{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link type="text/css" href="{% static 'kiezkasse_proposals.css'%}" rel="stylesheet" />
{% endblock %}

{% block project_action %}
    {% has_or_would_have_perm 'meinberlin_kiezkasse.add_proposal' request.user module as propose_allowed %}
    {% if propose_allowed %}
        <a href="{% url 'meinberlin_kiezkasse:proposal-create' module_slug=module.slug %}" class="btn btn--primary btn--full u-spacer-bottom btn--huge">
            {% translate 'Submit proposal' %}
        </a>
    {% endif %}
{% endblock %}

{% block phase_content %}
    {% react_kiezkasse_proposals module=view.module %}
{% endblock %}
