{% extends "base.html" %}
{% load i18n breadcrumbs_tags %}

{% block title %}
    {% blocktranslate with name=object.name %}
        Moderate {{ name }}
    {% endblocktranslate %}
{% endblock title %}

{% block breadcrumbs %}
    {% translate "Moderate proposal" as final_title %}
    {% render_breadcrumbs final_title=final_title %}
{% endblock breadcrumbs %}

{% block content %}
    <div class="container">
        <h1>{% translate 'Moderate proposal' %}</h1>
        {% include "meinberlin_contrib/components/moderator_form.html" %}
    </div>
{% endblock content %}
