{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% blocktranslate with name=object.name %}
        Moderate {{ name }}
    {% endblocktranslate %}
{% endblock title %}

{% block breadcrumbs %}
    <div id="layout-grid__area--contentheader">
        <div id="content-header">
            <nav class="breadcrumb" aria-label="{% translate 'You are here:' %}">
                <ol>
                    <li>
                        <a href="{% url 'meinberlin_plans:plan-list' %}">{% translate 'Project Overview' %}</a>
                    </li>
                    <li>
                        <a href="{% url 'project-detail' project.slug %}">{{ project.name|truncatechars:50 }}</a>
                    </li>
                    {% if module.is_in_module_cluster %}
                        <li>
                            <a href="{{ module.get_detail_url }}">{{ module.name|truncatechars:50 }}</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{{ object.get_absolute_url }}">{% translate 'Idea' %}</a>
                    </li>
                    <li class="active" aria-current="page">{% translate 'Moderate proposal' %}</li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock breadcrumbs %}

{% block content %}
    <div class="container">
        <h1>{% translate 'Moderate proposal' %}</h1>
        {% include "meinberlin_contrib/components/moderator_form.html" %}
    </div>
{% endblock content %}
